<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
        <title>Formula Lite</title>
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../styles/styles.css">
    </head>
    <body>
        <div class="mt-5 d-flex align-items-center flex-column">
            <span class="mt-5 fs-1 fw-bold">Formula Lite</span>
            <a class="mt-5" href="../index.html">
                <span class="fs-3">Back</span>
            </a>
        </div>
        <div class="mt-5 d-flex justify-content-around align-items-center">
            <div>
                <button id="LeftArrow">
                    <i class="bi bi-arrow-left-square-fill"></i>
                </button>
            </div>
            <div>
                <span id="TrackName">
                    Example
                </span>
            </div>
            <div>
                <button id="RightArrow">
                    Right arrow
                </button>
            </div>
        </div>        
        <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../scripts/map.js"></script>
    </body>
</html>